# macOS
.DS_Store
.AppleDouble
.LSOverride
._*

# Editor / IDE
.vscode/
.idea/
*.swp
*.swo

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.env
.env.local

# Vite build output
dist/
.vite/

# Logs
*.log

# OS thumbs
Thumbs.db
